{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
<div class="page-header"> {{program.title}}</div>

<section class="list-container">
<form action="{% url 'hrapp:training_edit_form' program.id %}" method="GET">
    {% csrf_token %}
    <button class="bang-button color3 border-radius-top">Edit</button>
<div class="list-box">
</form>



{% if program.past %}
<div><a class="list-info"> Start Date:</a> <a class="list-title">{{program.start_date}}</a></div>
<div><a class="list-info">End Date: </a> <a class="list-title">{{program.end_date}}</a></div>
<div><a class="list-info">Capacity: </a> <a class="list-title">{{program.capacity}}</a></div>
{% endif %}
<div class="margin-top list-info">Trainees:</div>
<ol>
{% for employee in program.employees_names %}
    <li class="list-detail">
        <div class="list-title">{{employee}}</div>
    </li>
    {% endfor %}
</ol>
</div>
<form action="{% url 'hrapp:training_detail' program.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="actual_method" value="DELETE"/>
    <button class="bang-button color4 border-radius-bottom">Delete</button>
</form>
</section>
{% endblock content %}