{% extends 'shared/base.html' %}

{% block content %}
<h1> {{program.title}}</h1>

<form action="{% url 'hrapp:training_edit_form' program.id %}" method="GET">
    {% csrf_token %}
    <button>Edit</button>
</form>

<form action="{% url 'hrapp:training_detail' program.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="actual_method" value="DELETE"/>
    <button>Delete</button>
</form>


{% if program.past %}
<h2>Start Date: {{program.start_date}}</h2>
<h2>End Date: {{program.end_date}}</h2>
<h2>Capacity: {{program.capacity}}</h2>
{% endif %}
<h1>Employees:</h1>
<ol>
{% for employee in program.employees_names %}
    <li>
        <h2>{{employee}}</h2>
    </li>
    {% endfor %}
</ol>
{% endblock content %}