  {% extends 'shared/base.html' %} 

{% block content %}

    <body>
        <div class="page-header">Create Training Program</div>
        {% if program.id is not None %}
        <form action="{% url 'hrapp:training_detail' program.id %}" method="post">
            <!-- <input type="hidden" name="actual_method" value="PUT"> -->
        {% else %}

<section class="list-container">
<div class="list-box">
        <form action="{% url 'hrapp:training' %}" method="post">
        {% endif %}
            {% csrf_token %}
            <fieldset>
                <label for="title">Title: </label>
                <input type="text" id="title" name="title" value="{{program.title}}">
            </fieldset>
            
            <fieldset>
                <label for="start_date">Starting Date: </label>
                <input type="date" id="start_date" name="start_date" value="{{program.start_date}}">
            </fieldset>
            
            <fieldset>
                <label for="end_date">Ending Date: </label>
                <input type="date" id="end_date" name="end_date" value="{{program.end_date}}">
            </fieldset>
            
            <fieldset>
                <label for="capacity">Capacity: </label>
                <input type="number" id="capacity" name="capacity" value="{{program.capacity}}">
            </fieldset>
</div>
            {% if program.id is not None %}
            <input class="bang-button color3 border-radius-bottom" type="hidden" name="actual_method" value="PUT"/>
            <input class="bang-button color3 border-radius-bottom" type="submit" value="Update" />
            {% else %}
            <input class="bang-button color3 border-radius-bottom" type="submit" value="Create"/>
            {% endif %}

        </form>
</section>

        {% endblock %}
   