  
{% extends 'shared/base.html' %} 

{% block content %}

    <body>
        <h1>Create Training Program</h1>
        {% if program.id is not None %}
        <form action="{% url 'hrapp:training_detail' program.id %}" method="post">
            <!-- <input type="hidden" name="actual_method" value="PUT"> -->
        {% else %}

        <form action="{% url 'hrapp:training' %}" method="post">
        {% endif %}
            {% csrf_token %}
            <fieldset>
                <label for="title">Title: </label>
                <input type="text" id="title" name="title" value="{{program.title}}">
            </fieldset>
            
            <fieldset>
                <label for="start_date">Starting Date: </label>
                <input type="date" id="start_date" name="start_date" value="{{program.start_date}}">
            </fieldset>
            
            <fieldset>
                <label for="end_date">Ending Date: </label>
                <input type="date" id="end_date" name="end_date" value="{{program.end_date}}">
            </fieldset>
            
            <fieldset>
                <label for="capacity">Capacity: </label>
                <input type="number" id="capacity" name="capacity" value="{{program.capacity}}">
            </fieldset>
            {% if program.id is not None %}
            <input type="hidden" name="actual_method" value="PUT"/>
            <input type="submit" value="Update" />
            {% else %}
            <input type="submit" value="Create"/>
            {% endif %}

        </form>

        {% endblock %}
   