{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
<div class="page-header">Training Programs</div>
<section class="list-container">
<form action="{% url 'hrapp:training_form' %}" method='GET'>
    <button class="bang-button color1 border-radius-top">create</button>
</form>
<div class="list-box">

    {% for program in programs %}
  
        <p class="list-row">
            {% if not past %}
            <a class="list-title" href="{% url 'hrapp:training_detail' program.id %}"> {{ program.title }} </a>
            {% else %}
            <a class="list-title" href="{% url 'hrapp:past_detail' program.id %}"> {{ program.title }} </a>
            {% endif %}
        <a class="list-detail">{{program.start_date}}</a>
        </p>
 
    {% endfor %}


</div>
{% if not past %}
<a href="{% url 'hrapp:training_past' %}"><button class="bang-button color2 border-radius-bottom">past</button></a>
{% else %}
<a href="{% url 'hrapp:training' %}"><button class="bang-button color2 border-radius-bottom">future</button></a>
        </section>
{% endif %}
{% endblock content %}