{% extends 'shared/base.html' %}

{% block content %}
<h1>Training Programs</h1>
<form action="{% url 'hrapp:training_form' %}" method='GET'>
    <button>Create New Program</button>
</form>

<ol>
    {% for program in programs %}
    <li>
        <p>
            <a href="{% url 'hrapp:training_detail' program.id %}"> {{ program.title }} </a>
        </p>
        Starting Date: {{program.start_date}}
    </li>
    {% endfor %}
</ol>

<a href="{% url 'hrapp:training_past' %}"><button>See Past Programs</button></a>
{% endblock content %}