{% extends 'shared/base.html' %}

{% block content %}
<h1>Training Programs</h1>
{% if user.is_authenticated %}
<form action="{% url 'hrapp:training_form' %}" method='GET'>
    <button>Create New Program</button>
</form>
{% endif %}

<ol>
    {% for program in programs %}
    <li>
        <p>
            {% if not past %}
            <a href="{% url 'hrapp:training_detail' program.id %}"> {{ program.title }} </a>
            {% else %}
            <a href="{% url 'hrapp:past_detail' program.id %}"> {{ program.title }} </a>
            {% endif %}
        </p>
        Starting Date: {{program.start_date}}
    </li>
    {% endfor %}
</ol>
{% if user.is_authenticated %}
{% if not past %}
<a href="{% url 'hrapp:training_past' %}"><button>See Past Programs</button></a>
{% else %}
<a href="{% url 'hrapp:training' %}"><button>See Future Programs</button></a>
{% endif %}
{% endif %}
{% endblock content %}