{% extends 'shared/base.html' %}

{% block content %}
<section>
    <h1>Make: {{ computer.make }}</h1>
    <h2>Model: {{ computer.manufacturer }}</h2>
    <h3>Purchase Date: {{ computer.purchase_date }}</h3>
<section>

<section>
    <form action="{% url 'hrapp:computer_details' computer.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE" />
        <button onclick="return confirm('Are you sure you want to delete?')">Delete</button>
    </form>
</section>
{% endblock %}