{% extends 'shared/base.html' %}

{% block content %}
<div class="page-header">Computers</div>
<section class="list-container">
<div class="list-box">

{% for computer in all_computers %}
        {% if user.is_authenticated %}
        <a href="{% url 'hrapp:computer_details' computer.id %}">
            <p class="list-title">{{ computer.make }}</p>
        </a>
        {%else%}
            <p>{{ computer.make }}</p>
        {%endif%}
        {% if computer.employee.first_name is not None %}
            <p>{{ computer.employee.first_name }} {{ computer.employee.last_name }}</p>
        {% endif %}
    </li>    
{% endfor %}
</div>

{% if user.is_authenticated %}
<a href="{% url 'hrapp:computer_form' %}"><button class="bang-button color2 border-radius-bottom">Add</button></a>
{% comment %} <button onclick="window.location.href='/departments/form'">Add Computer</button> {% endcomment %}
{%endif%}
{% endblock content %}
</section>
