{% extends 'shared/base.html' %}
{% load static %}

{% block content %}

    
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <div class="page-header">Departments</div>
    </head>
    
    <section class="list-container">
    <div class="list-box">
        <div class="list-title">{{ department.name }}</div>

        <ul>
            {% for employee in department.employees %}    
            <li>  {{ employee.first_name }} {{ employee.last_name }}</li>
            {% endfor %}
        </ul> 
        </div>
    </section>
</html>

{% endblock content %}