{% extends 'shared/base.html' %}
{% load static %}

{% block content %}

    
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Departments</title>
    </head>
    <section>
    {% for department in department_groups_values %}
    
        <h1>{{ department.name }}</h1>

        <ul>
            {% for employee in department.employees %}    
            <li>  {{department.employees.first_name}} {{department.employees.last_name}}</li>
            {% endfor %}
        </ul>
    {% endfor %} 
    </section>
</html>

{% endblock content %}