{% extends 'shared/base.html' %}
{% load static %}


{% block content %}
<div class="page-header">Departments</div>

<section class="list-container">
<div class="list-box">
{% for department in departments %}
    <p class="list-row">
        <a class="list-title" href="{% url 'hrapp:department' department.id %}">{{ department.department_name }}</a>
        
        <a class="list-detail">Budget: ${{department.budget}}</a>
    </p>
    
{% endfor %}

</div>
<button class="bang-button color2 border-radius-bottom" onclick="window.location.href='/departments/form'">Add</button>
</section>

{% endblock content %}