{% extends 'shared/base.html' %}
{% load static %}


{% block content %}
<h1>Departments</h1>

<ol>
{% for department in departments %}
    <li>
        {% if user.is_authenticated %}
        Name:   <a href="{% url 'hrapp:department' department.id %}">{{ department.department_name }}</a>
        {%else%}
        Name:  {{ department.department_name }}
        {%endif%}
        </br>
        Budget: ${{department.budget}}
    </li>
    </br>
{% endfor %}

</ol>
{% if user.is_authenticated %}
<button onclick="window.location.href='/departments/form'">Create Department</button>
{%endif%}
{% endblock content %}