{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Employees</title>
  </head>
  <body>
    {% if employee.id is not None %}
        <h1>Update Employee</h1>
    {% else %}
        <h1>Add Employee</h1>
    {% endif %}
    
    {% if employee.id is not None %}
        <form action="{% url 'hrapp:employee' employee.id %}" method="post">
    {% else %}
        <form action="{% url 'hrapp:employee_list' %}" method="post">
    {% endif %}
      {% csrf_token %}
      <fieldset>
          <label for="first_name">First Name: </label>
          <input id="first_name" type="text" name="first_name" value="{{ employee.first_name }}">
      </fieldset>
      <fieldset>
          <label for="last_name">Last Name: </label>
          <input id="last_name" type="text" name="last_name" value="{{ employee.last_name }}">
      </fieldset>
      <fieldset>
          <label for="start_date">Start Date: </label>
          <input id="start_date" type="date" name="start_date" value="{{ employee.start_date }}">
      </fieldset>
      <fieldset>
          <label for="department">Department: </label>
          <select id="department" type="text" name="department_id" value="{{ employee.department.department_name }}">
                {% for department in all_departments %}
                    {% if employee.department_id == department.id %}
                        <option value="{{ department.id }}" selected>{{ department.department_name }}</option>
                    {% else %}
                    <option value="{{ department.id }}" >{{ department.department_name }}</option>
                    {% endif %}
                {% endfor %}
          </select>
      </fieldset>

      {% if employee.id is not None %}
          <input type="hidden" name="actual_method" value="PUT">
          <input type="submit" value="Update">
      {% else %}
          <input type="submit" value="Create">
      {% endif %}

      <!-- <input type="submit" value="Add It" /> -->
    </form>
  </body>
</html>