{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

  
  <body>
    {% if employee.id is not None %}
        <div class="page-header">Update Employee</div>
    {% else %}
        <div class="page-header">Add Employee</div>
    {% endif %}
    
    {% if employee.id is not None %}
        <form action="{% url 'hrapp:employee' employee.id %}" method="post">
    {% else %}
        <form action="{% url 'hrapp:employee_list' %}" method="post">
    {% endif %}
      {% csrf_token %}
      <section class="list-container">
      <div class="list-box">
      <fieldset>
          <label for="first_name">First Name: </label>
          <input id="first_name" type="text" name="first_name" value="{{ employee.first_name }}">
      </fieldset>
      <fieldset>
          <label for="last_name">Last Name: </label>
          <input id="last_name" type="text" name="last_name" value="{{ employee.last_name }}">
      </fieldset>
      <fieldset>
          <label for="start_date">Start Date: </label>
          <input id="start_date" type="date" name="start_date" value="{{ employee.start_date }}">
      </fieldset>
      <fieldset>
          <label for="department">Department: </label>
          <select id="department" type="text" name="department_id" value="{{ employee.department.department_name }}">
                {% for department in all_departments %}
                    {% if employee.department_id == department.id %}
                        <option value="{{ department.id }}" selected>{{ department.department_name }}</option>
                    {% else %}
                    <option value="{{ department.id }}" >{{ department.department_name }}</option>
                    {% endif %}
                {% endfor %}
          </select>
      </fieldset>
</div>
      {% if employee.id is not None %}
          <input type="hidden" name="actual_method" value="PUT">
          <input class="bang-button color3 border-radius-bottom" type="submit" value="Update">
      {% else %}
          <input class="bang-button color3 border-radius-bottom" type="submit" value="Create">
      {% endif %}
</section>
      <!-- <input type="submit" value="Add It" /> -->
    </form>
  </body>
{% endblock content %}