{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
<h1>Employees</h1>

<ol class="list_content">
{% if user.is_authenticated %}
{% for employee in employees %}
    <li>
        <a href="{% url 'hrapp:employee' employee.employee_id %}"><p>{{ employee }}</p></a>
        Department: {{employee.department.department_name}}
    </li>
{% endfor %}
{%else%}
{% for employee in employees %}
    <li>
        <p>{{ employee }}</p>
        Department: {{employee.department.department_name}}
    </li>
{% endfor %}
{%endif%}
</ol>
{% if user.is_authenticated %}
<button onclick="window.location.href='/employee/form'">Add Employee</button>
{% endif %}
{% endblock content %}
